---
import Gallery from "../components/gallery.astro";
import Menu from "../components/menu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>Dashboard | Gallery</title>
  </head>
  <body class="z-0 flex gap-2 min-h-screen bg-slate-100">
    <Menu />
    <Gallery />
  </body>
</html>
