---
import Title from "../components/title.astro";
import { getImage } from "astro:assets";
import bg from "../assets/bg.jpg";
const optimizedBgImage = await getImage({ src: bg });
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>Gallery</title>
  </head>
  <body>
    <div
      class="relative w-full h-screen bg-no-repeat bg-cover flex justify-end items-end"
      style={`background-image:url('${optimizedBgImage.src}')`}
    >
      <Title />
    </div>
  </body>
</html>
