---
import { getImage } from "astro:assets";
import bg from "../assets/register-bg.jpg";
const optimizedBgImage = await getImage({ src: bg });
import RegisterForm from "../components/register.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>Register | Gallery</title>
  </head>
  <body class="z-0">
    <div
      class="relative w-full h-screen bg-no-repeat bg-cover flex items-center justify-center "
      style={`background-image:url('${optimizedBgImage.src}')`}
    >
      <div class="h-screen w-full bg-black absolute top-0 left-0 z-[5]" style="opacity:0.75;"></div>
      <RegisterForm />
    </div>
  </body>
</html>
