---
import Logo from "./logo.astro";
import Nav from './nav.astro'
---

<header class="sticky top-0 left-0  py-6 backdrop-blur-sm h-fit shadow">
  <div class="w-[80%] mx-auto flex justify-between items-center">
    <Logo width={48} height={48}/>
    <Nav />
  </div>
</header>
