
    <div class="bg-white w-[15%] min-h-screen shadow px-4 flex flex-col justify-between py-6">
      <div>
        <p class="text-3xl font-serif">Gallery</p>
      </div>
      <div class="flex flex-col gap-2">

      <p class="text-2xl">Explore</p>
      <p class="text-2xl">Upload</p>
      <p class="text-2xl">Photos</p>
      <p class="text-2xl">Profile</p>
      <a href="/api/auth/signout" class="text-2xl">Exit</a>
      </div>
    </div>
