<nav class="flex gap-4">
  <a
    class="font-sans inline-block rounded-sm border border-white bg-black px-12 py-3 font-medium text-white hover:bg-white hover:text-black focus:outline-none focus:ring active:text-indigo-500"
    href="/register"
  >
    Register
  </a>
  <a
    class="font-sans inline-block rounded-sm border border-white bg-black px-12 py-3 font-medium text-white hover:bg-white hover:text-black focus:outline-none focus:ring active:text-indigo-500"
    href="/access"
  >
    Access
  </a>
</nav>
